@page
@model NASH1.Pages.OrderModel
@{
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?
      family=Ubuntu+Mono&display=swap"
          rel="stylesheet">
</head>

<body>
    <header> 
        <h1 id="top">FoodShop</h1>
    </header>

    <hr/>
    <h2 id="top1">Hot Today</h2>
    <div id="container2">

<div id="row1">
    <div class="fakeimg" >
     <a href="#"> <img src="https://images.deliveryhero.io/image/fd-my/LH/t9li-hero.jpg"height="320" width="500" alt ="food" /></a>
    <div class="img-tip">Nica</div>
</div>

 </div>
 <div id="row2">
 <div class="fakeimg">
     <a href="#"> <img src="https://www.placesandfoods.com/wp-content/uploads/2021/10/pelicana-kinrara-fried-chicken.jpg"height="320" width="500" alt ="food" /></a>
</a>
<div class="img-tip">Pelicana</div></div>
        </div>    
    </div>

    <nav id="navbar">
        <ul id="navcontent">
            <li><a href="/Order">Menu</a></li>
        </ul>
    </nav>
<div id="container3"> 
    <div id="container4">
        <div id="row3">
            <div class="fakeimg" >
            <a href="#"> <img src="https://images.deliveryhero.io/image/fd-my/LH/t9li-hero.jpg"height="320" width="500" alt ="food" /></a>
            <div class="img-tip">Nica</div>
            </div>    
        </div>
        <div id="row4">
            <div class="fakeimg">
            <a href="#"> <img src="https://www.placesandfoods.com/wp-content/uploads/2021/10/pelicana-kinrara-fried-chicken.jpg"height="320" width="500" alt ="food" /></a></a>
            <div class="img-tip">Pelicana</div></div>
         </div>    
    </div>
</div>


</body>
</html>

