html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*Designing the footer*/
footer {
    text-align: center;
}

/*CSS Reset*/
* {
    margin: 0px;
    padding: 0px;
}

#container1 { /*Homepage*/
    display: flex;
    justify-content: space-evenly;
}

#location {
    color: black;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 35px;
}

#top { /* Index 2 head*/
    color: black;
    text-align: left;
    font-size: 50px;
    font-family: "Arial", monospace;
}

#top1 {
    text-align: justify;
    color: red;
    font-family: 'Ubuntu Mono', monospace;
}

#container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: auto;
    width: 60vw;
    height: 40vh;
    /*background: url('1.jpg')no-repeat center center/cover;*/
}

#row1 {
    width: 29vw;
    height: 360px;
    border: 2px solid black;
    /*background: url('a1.jpeg') no-repeat center center/cover;*/
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 15px;
    margin-top: 50px;
}

#row2 {
    width: 29vw;
    height: 360px;
    border: 2px solid black;
    /*background: url('a2.jpeg') no-repeat center center/cover;*/
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 15px;
    margin-top: 50px;
}

/* Navigation bar styling*/

/* image styling*/
#navbar img { /*food shop top image*/
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-bottom: 3px;
}

/*Navbar Functionality*/
#navbar {
    display: flex;
    flex-direction: column;
    background-color: deepskyblue;
    height: 14vh;
    width: 60vw;
    font-family: 'Ubuntu Mono', monospace;
    margin-top: 80px;
    border: 2px solid black;
    border-radius: 15px;
}


/*Navbar content functionality*/
#navcontent { /*index 2 */
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Ubuntu Mono', monospace;
    margin-top: auto
}

/*Navbar content styling*/
ul li {
    list-style: none;
    margin: 15px;
    border-radius: 20px;
}

    ul li a {
        padding: 1px;
        color: darkblue;
        text-decoration: none;
        border-radius: 10px;
    }

        ul li a:hover {
            background-color: darkgrey;
            border-radius: 10px;
        }


/* website background image designing */
#container3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 63vh;
}

    /*Setting the background image using before pseudo selector*/
    #container3::before {
        content: '';
        /*background: url("./1.jpg") no-repeat center center/cover;*/
        width: 60vw;
        height: 59vh;
        position: absolute;
        top: 0px;
        left: 0px;
        font-family: 'Ubuntu Mono', monospace;
        margin-right: 45px;
        font-weight: bold;
        z-index: -1;
        opacity: 0.89;
        border: 2px solid black;
        border-bottom-left-radius: 100px;
    }

#container4 {
    display: flex;
    justify-content: space-evenly;
}

#row3 {
    width: 29vw;
    height: 360px;
    border: 2px solid black;
    /*background: url('a1.jpeg') no-repeat center center/cover;*/
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 15px;
    margin-top: 50px;
}

#row4 {
    width: 29vw;
    height: 360px;
    border: 2px solid black;
    /*background: url('a2.jpeg') no-repeat center center/cover;*/
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 15px;
    margin-top: 50px;
}

/*Designing the footer*/
footer {
    text-align: center;
}
/*Designing of Contact Us*/
#ContactUs {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.form-shape input, .form-shape select, .form-shape textarea {
    width: 92%;
    padding: 0.5rem;
}
/*Changing the color of placeholder*/
::placeholder {
    color: black;
}

@media only screen and (max-width:1131px) {
    #row1 {
        width: 42vw;
    }

    #row2 {
        width: 45vw;
    }
}

.fakeimg {
    width: 100%;
    padding: 20px;
    float: right;
    clear: both;
    position: relative;
    display: inline-block;
}

.img-tip {
    position: absolute;
    bottom: 0;
    background: #333;
    color: red;
    opacity: 0.6;
    display: none;
}

.fakeimg:hover .img-tip {
    display: block;
    width: 100%;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 250px 800px 300px;
    height: 100%;
    
}
/*Menu design */
#menu {
    background: whitesmoke;
}
.brand-logo{
    padding: 0 30px;
}
.brand-logo img{
    width: 150px;
    height: 150px;
    margin-top: -20px;
}
.menu-item a{
    display:block;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 30px;
    margin: 12px;
    color: rgb(128,129,129);
    font-weight: 300; 
}
.menu-item a:hover{
    background: rgb(250,212,218);
}

#food-container {
    background: whitesmoke;
    overflow: scroll;
    overflow-x:hidden;
    box-sizing:content-box;
}
#header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background: whitesmoke;
    z-index: 1;   
}
::-webkit-scrollbar{
    display:none;
}
#header .address{
    font-size: 20px;
}
.your-address{
    border: 1px solid indianred;
    color: indianred;
    padding: 5px 10px;
    border-radius: 5px;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer; 
}

.add-box i {
    font-size: 20px;
}
.util i,.user i{
    font-size: 18px;
    margin:0 16px;
    border: 1px solid crimson;
    padding: 8px 16px;
    color: crimson;
    border-radius:20px;
    cursor: pointer;
}
.util i:active{
    color: white;
    background: crimson;
}
.food-item{

    
}
#nica,#pelicana{
   margin-top: 40px; 
} 
#category-name,.item-menu{
    margin:10px;
    font-size: 35px;
    color: coral;
}
#item-card{
    
}

#cart {
    background: lavender;
}


